@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&family=Ubuntu:ital,wght@1,300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Abel', sans-serif;
}
nav img{
    width: 100px;
    height: 100px;
}
nav ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
 justify-content: center;
 align-items: center;
 margin: 0px;
 font-size: 25px;
 position: absolute;
left:63%;
top:15px;

    


}
#navbar{
    display:flex;
    flex-direction: row;
    position: sticky;
    /* width:100vw; */
    /* border: solid red 3px;
    background-color: teal; */
}
li a{
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

 a:hover{
    background-color: 	#FAF9F6;
    opacity: 0.5;
    
    
 }

.container-1{
    height: 100vh;
    width:90vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    display: flex;
    
}
.leftpart{
    /* border: solid red 3px; */
   
    width:50vw;
    height:50vh;
}
.rightpart{
    /* border: solid blue 3px; */
    
    width:50vw;
    height:100vh;
}
 .container{
    background-image: url("background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
   
} 
.lefttext {
    position: absolute;
    left:100px;

   font-family: 'Times New Roman', Times, serif;


}
.lefttext2 {
    position: relative;
    left:30px;
    top:20%;


   font-family: 'Times New Roman', Times, serif;


}


/* .leftpart h3{
    position: absolute;
    left:120px;
   

   font-family: 'Times New Roman', Times, serif;

} */

div.topBotomBordersOut h1:before, div.topBotomBordersOut h1:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: grey;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut h1:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut h1:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut h1:hover:before, div.topBotomBordersOut h1:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* .icons{
    position: relative;
   display: flex;
   flex-direction: column;
   

} */

.rightpart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    
}

.fa:hover {
    opacity: 0.9;
   
    
}

.fa-linkedin {
    background: transparent;
    color: black;

    
}

.fa-instagram {
  
    background: transparent;
    color: black;
}

.fa-facebook {
    background: transparent;
    color: black;
}

.fa {
    /* padding: 20px;
    font-size: 40px; */
    /* width: 60px; */
    text-decoration: none;
    margin: 10px;
    

}
.btn-small-1, .btn-small-2 , .btn-small-3{
    border:solid black 3px;
    border-radius: 50px;
    width:50px;
    align-items: center;
    background-color: transparent;
    margin: 5px;
}
.btn-small-1:hover,.fa-instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,#fdf497 0%, #fdf497 5%,#fd5949 45%,#d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}
.btn-small-2:hover,.fa-facebook:hover{ background-color: #4267B2;

}
.btn-small-3:hover, .fa-linkedin:hover{
    background-color:#0077b5;


}
.container-2{
    height:100vh;
    
    /* background-color: beige; */
    /* background-color: whitesmoke;  */
    /* opacity:0; */
     
}
#con2{
    
    border:2px white;
    border-radius: 20px;
    margin: auto;
    z-index: 9;
    margin-top: -150px;
    width: 60%;
    height:40%;
    background-color: whitesmoke;
    opacity: 0.8;
  
}

.row{
    display: flex;
    flex-direction: column;
  height:100%;
  justify-content:center ;
  align-items: center;
 
    
}
/* .rowclass{
    height:300px;
    width: 100%;
    margin: auto;
    border: grey solid 2px;
    border-radius:5px;
    font-family: 'Times New Roman', Times, serif;
} */

.btn-md-1{
    border:solid grey 2px;
    background-color: transparent;
    color: black;
    height:50px;
    width:150px;
 margin-bottom:2px;

}
.btn-md-1:hover{
    opacity:0.5;
}
.data-aos-delay{
    transition-delay: 3s;
}
#con3{
    background-color: whitesmoke;
    width:90vw;
    margin: auto;
    height:60vh;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
.con3-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90%;
    width:25%;
    

}
.con3-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90%;
    width:25%;
    
   
    
}
.con3-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90%;
    width:25%;
 
    
}
.con3-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90%;
    width:25%;

    
}
#con3 img{
    height:100px;
    width:100px;
    border-radius: 50%;

}
.btn-lg-1 a{
    text-decoration: none;
    color:white;
    font-weight: bold;

}
.btn-lg-1 a:hover{
    text-decoration: none;
    color:white;
    font-weight: bold;
 background: transparent;

}


.btn-lg-1{
  
    width:200px;
    height:50px;
    color:white;
    background-color: gray;
    border:solid white 2px;
    border-radius:17px;
   
position: relative;
left:45%;
bottom: 44px;
font-size: large;

}
.btn-lg-1:hover{
    opacity:0.5;
}


.container4{
    background-color: whitesmoke;
}
.container5{
    background-color: whitesmoke;
  margin: auto;
    height:70vh;
    /* border:hsl(201, 100%, 35%) 2px solid; */
    width:90vw;
    display: flex;
    flex-direction: row;

}
.con5-1{
    
width:45vw;
height:70vh;
/* border:#0077b5 solid 2px; */
display: flex;

    
}

    
   
.con5-1-1 {
    width: 31vw;
    height: 70vh;
   
    background-image: url(bg6.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    /* left: 16px; */

  

        
    }
    .content{
        position: relative;
    top: 143px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    /* border: red solid 2px; */
    margin-left: -250px;
    background-color:white;
    opacity: 0.7;
    color:black;
    border-radius: 10px;
    text-align: center;

                
    }
    .con5-2{
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-height: 100vh; */
        /* position: relative;
        left:15%;
        bottom:6%; */

        
    
            width:45vw;
            height:70vh;;


    }
    .con5-2-1{
        width: 30vw;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        /* background-image: url("background5.jpg");
        background-size: cover;
        background-repeat: no-repeat; */
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
.btn-lg-3{
    width:150px;
    height:50px;
    background-color:#202020;
   
    font-size: large;
    color: white;
    border: solid white 2px;
    border-radius: 5px;
   text-decoration: none;
   

}
.btn-lg-3:hover{
    color: white;
    font-size: large;
    background-color:grey;
    
}
/* .btn-lg-3 a{
    color:white;
    text-decoration: none;
    font-size: large;
    text-align: center;
} */
/* .btn-lg-3 a:hover{
    color:white;
    text-decoration: none;
    font-size: large;
    background-color: transparent;
} */
    /* .card{

        position: relative;
        width:300px;
        height:85px;
        background: grey;
        border-radius: 20px;
        filter: drop-shadow(-20px  20px 40px  whitesmoke);
        transition:0.5s ease-in-out;

    }
    .card.active{
        height: 390px;
    }
    .toggle {
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 60px;
        background: grey;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        cursor: pointer;

    }
    .toggle::before{
        content:'';
        position: absolute;
        width: 34px;
        height:35px;
        background: transparent;
        left:-34x;
        border-top-right-radius: 35px;
        box-shadow: 11px -10px 0 10px grey;


    }
    .toggle::after{
        content:'';
        position: absolute;
        width: 34px;
        height:35px;
        background: transparent;
        left:-35px;
        border-top-left-radius: 35px;
        box-shadow: - 11px -10px 0 10px grey;


    }
    .toggle span{
        position: absolute;
         top: 50%;
left: 50%;
transform: translate(-50%, -70%) rotate(405deg);
width: 10px;
height: 10px;
border-bottom: 3px solid #fff;
border-right: 3px solid  #fff;
    }
    .card.active .toggle span{
        transform: translate(-50%, -70%) rotate(225deg);
    }
    .contentbox{
        position : absolute;
        inset:0 ;
        overflow: hidden;

    }

.contentbox .content2{

    position: relative;
padding: 20px;
text-align: center;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.contentbox .content2 h1 span{

    font-size: 0.75em;
    font-weight: 400;
    text-transform: initial;
}

 .contentbox .content2 h1{
    color:white;
    font-weight: 50;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;


}
.imagebox{
    position: relative;
width: 250px;
height: 250px;
background:#fff;
margin-top: 20px;
box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
}  */

.container-6{
    height:100vh;
    width:90vw;
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    
   
}
.container-6 h1{
    text-align: center;
}
.container6-1{
    height:60vh;
    width:22.5vw;
    
    /* background-color: whitesmoke; */
    /* border:#0077b5 2px solid;   */
}
.container6-2{
    height:60vh;
    width:22.5vw;
    /* background-color: whitesmoke; */
    /* border: green 2px solid;   */
}
.container6-3{
    height:60vh;
    width:22.5vw;
    /* background-color: whitesmoke; */
    /* border:black 2px solid;   */
}
.container6-4{
    height:60vh;
    width:22.5vw;
    /* background-color: whitesmoke; */
    /* border: yellow 2px solid;   */
}
.container6{
    height:100vh;
    width:90vw;
    background-color: whitesmoke;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
   
}
.center-foot{
    text-align:center;
 
   
    
    background-color: 	#202020;
    margin-top: 16%;
    padding: 30px;
    color: white;
}


/* .card2{

    position: relative;
    width:300px;
    height:85px;
    background: grey;
    border-radius: 20px;
    filter: drop-shadow(-20px  20px 40px  whitesmoke);
    transition:0.5s ease-in-out;

}
.card2.active2{
    height: 390px;
}
.toggle2{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 60px;
    background: grey;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;

}
.toggle2::before{
    content:'';
    position: absolute;
    width: 34px;
    height:35px;
    background: transparent;
    left:-34x;
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px grey;


}
.toggle2::after{
    content:'';
    position: absolute;
    width: 34px;
    height:35px;
    background: transparent;
    left:-35px;
    border-top-left-radius: 35px;
    box-shadow: - 11px -10px 0 10px grey;


}
.toggle2 span{
    position: absolute;
     top: 50%;
left: 50%;
transform: translate(-50%, -70%) rotate(405deg);
width: 10px;
height: 10px;
border-bottom: 3px solid #fff;
border-right: 3px solid  #fff;
}
.card2.active2 .toggle2 span{
    transform: translate(-50%, -70%) rotate(225deg);
}
.contentbox2{
    position : absolute;
    inset:0 ;
    overflow: hidden;

}

.contentbox2 .content3{

position: relative;
padding: 20px;
text-align: center;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.contentbox2 .content3 h1 span{

font-size: 0.75em;
font-weight: 400;
text-transform: initial;
}

.contentbox2 .content3 h1{
color:white;
font-weight: 50;
font-size: 1.25em;
text-transform: uppercase;
letter-spacing: 0.05em;
line-height: 1.1em;


}
.imagebox2{
position: relative;
width: 250px;
height: 250px;
background:#fff;
margin-top: 20px;
box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
}  */


*, *:before, *:after {
    box-sizing: inherit;
  }
  .row6{
    display: flex;
    flex-direction: row;
  }
   
  .card6 img{
    height:50vh;
    width:50vw;
  }
  .column6 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column6 {
      width: 100%;
      display: block;
    }
  }
  
  .card6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container7 {
    padding: 0 16px;
    height: 300px;
  }
  
  .container7::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button6 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button6:hover {
    background-color: #555;
  }

















/* 
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  .mySlides {
    display: none;
  } */

  /* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
   */

  /* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  } */

  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
   */

  /* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
   */
 
   /* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  */








